.fondo-pago{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.fondo-pago div{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.qr{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.check{
    display: flex;
    text-align: center;
    gap: 3px;
}